.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--while);
    border: 1px solid transparent;

    + .wrapper {
        margin-left: 17px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.6;
    }
}

.icon + .title, .title + .icon {
    margin-left: 6px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

// Button types
.rounded {
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;

    &:hover {
        border-color: rgba(22, 24, 35, .2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary{
    color: var(--while);
    background-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    padding: 6px 16px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }
}

// Button size
.small {
    line-height: 22px;
    font-weight: 600;
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}